<div class="legend-container">
    <div class="legend-item">
        <h4>Mascara</h4>
        <div class="legend-images">
            <div class="legend-image">
                <img src="../../../assets/images/png/recommended-mask.png">
                <span>Recomendado</span>
            </div>
            <div class="legend-image">
                <img src="../../../assets/images/png/required-mask.png">
                <span>Obrigatorio</span>
            </div>
        </div>
    </div>
    <div class="legend-item">
        <h4>Toalha</h4>
        <div class="legend-images">
            <div class="legend-image">
                <img src="../../../assets/images/png/recommended-towel.png">
                <span>Recomendado</span>
            </div>
            <div class="legend-image">
                <img src="../../../assets/images/png/required-towel.png">
                <span>Obrigatorio</span>
            </div>
        </div>
    </div>
    <div class="legend-item">
        <h4>Bebedouro</h4>
        <div class="legend-images">
            <div class="legend-image">
                <img src="../../../assets/images/png/partial-fountain.png">
                <span>Parcial</span>
            </div>
            <div class="legend-image">
                <img src="../../../assets/images/png/not_allowed-fountain.png">
                <span>Proibido</span>
            </div>
        </div>
    </div>
    <div class="legend-item">
        <h4>Vestiarios</h4>
        <div class="legend-images">
            <div class="legend-image">
                <img src="../../../assets/images/png/allowed-lockerroom.png">
                <span>Permitido</span>
            </div>
            <div class="legend-image">
                <img src="../../../assets/images/png/partial-lockerroom.png">
                <span>Parcial</span>
            </div>
            <div class="legend-image">
                <img src="../../../assets/images/png/closed-lockerroom.png">
                <span>Fechado</span>
            </div>
        </div>
    </div>
</div>
