<div class="card">
    <span [ngClass]="{
        opened: card.opened
    }">{{card.opened ? 'Aberto' : 'Fechado' }}</span>
    <h3>{{card.title}}</h3>
    <p [innerHTML]="card.content"></p>
    <div class="img-container">
        <img *ngIf="card.opened" [src]="'../../../assets/images/png/' + card.mask + '-mask.png'">
        <img *ngIf="card.opened" [src]="'../../../assets/images/png/' + card.towel + '-towel.png'">
        <img *ngIf="card.opened" [src]="'../../../assets/images/png/' + card.fountain + '-fountain.png'">
        <img *ngIf="card.opened"[src]="'../../../assets/images/png/' + card.locker_room + '-lockerroom.png'">    
    </div>
    
    <ul>
        <li *ngFor="let schedule of card.schedules">
            <h4>{{schedule.weekdays}}</h4>
            <span>{{schedule.hour}}</span>
        </li>
    </ul>
</div>