<form class="form-group" [formGroup]="formGroup">
    <div class="form-container">
        <div class="form-icon"><img src="/assets/images/png/icon-hour.png" alt="Icone de reologio">
        Horário
    </div>
        <h3>Qual periodo quer treinar?</h3>

        <div class="radio-container">    
            <div class="radio-item">
                <input type="radio" name="periodo" value="Manhã" formControlName="periodo">
                <label for="Manhã">Manhã</label>
                <span>06:00 ás 12:00</span>
            </div>
        </div>
        <div class="radio-container">    
            <div class="radio-item">
                <input type="radio" name="periodo" value="Tarde" formControlName="periodo">
                <label for="Tarde">Tarde</label>
                <span>12:01 ás 18:00</span>
            </div>
        </div>
        <div class="radio-container">    
            <div class="radio-item">
                <input type="radio" name="periodo" value="Noite" formControlName="periodo">
                <label for="Noite">Noite</label>
                <span>18:01 ás 23:00</span>
            </div>
        </div>

        <div class="unidades-container">
            <input type="checkbox" name="unidadesFechadas" id="" formControlName="unidadesFechadas">
            <label for="unidadesFechadas">Exibir unidades fechadas</label>
            <p>Resultados encontrados: <span>{{filtredResults.length}}</span></p>
        </div>

        <div class="botoes-container">
            <button class="submit" (click)="onSubmit()">ECONTRAR UNIDADE</button>
            <button class="reset" (click)="onClear()">LIMPAR</button>
        </div>
    </div>
</form>