<form action="">
    <div class="form-container">
        <div class="form-icon"><img src="/assets/images/png/icon-hour.png" alt="Icone de reologio">
        Horário
    </div>
        <h3>Qual periodo quer treinar?</h3>

        <div class="radio-container">    
            <div class="radio-item">
                <input type="radio" name="Manhã" id="Manhã">
                <label for="Manhã">Manhã</label>
                <span>06:00 ás 12:00</span>
            </div>
        </div>
        <div class="radio-container">    
            <div class="radio-item">
                <input type="radio" name="Tarde" id="Tarde">
                <label for="Tarde">Tarde</label>
                <span>12:01 ás 18:00</span>
            </div>
        </div>
        <div class="radio-container">    
            <div class="radio-item">
                <input type="radio" name="Noite" id="Noite">
                <label for="Noite">Noite</label>
                <span>18:01 ás 23:00</span>
            </div>
        </div>

        <div class="unidades-container">
            <input type="checkbox" name="unidades-fechadas" id="">
            <label for="unidades-fechadas">Exibir unidades fechadas</label>
            <p>Resultados encontrados: <span>0</span></p>
        </div>

        <div class="botoes-container">
            <button class="submit">ECONTRAR UNIDADE</button>
            <button class="reset">LIMPAR</button>
        </div>
    </div>
</form>